.App {
  text-align: center;
}

.App-logo {
  height        : 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height      : 100vh;
  display         : flex;
  flex-direction  : column;
  align-items     : center;
  justify-content : center;
  font-size       : calc(10px + 2vmin);
  color           : white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  background-color: whitesmoke;
}

.image {
  border-radius: 50px;
  height: 100px;
  width: 90px;
  margin-right: 50px;
}
.heading{
border: none;
outline: 0;
display: inline-block;
padding: 5px;
color: black;
cursor: pointer;
width: 303px;
font-size: 18px;
margin: 0 0 0 38%;
}

.button{
border: none;
outline: 0;
display: inline-block;
padding: 8px;
color: white;
background-color: #000;
text-align: center;
cursor: pointer;
width: 303px;
font-size: 18px;
margin: 0 0 16px 38%;
}

.age{
  color: #282c34;
  font-size: 12px;
}

.birthday-count{
  padding: 10px;
  color: white;
  height: 28px;
  background-color: cadetblue;
}